@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #fff;
  color: rgb(56, 56, 56);
  padding: 0;
  margin: 0;

  font-family: 'DM Sans', sans-serif;



  -ms-overflow-style: none; /*Hide Scrollbar in IE and Edge */
  scrollbar-width: none; /*Hide Scrollbar in Firefox */
}


/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
} */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}
/* background-color: #f1f5f9; */